/* App.css */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111827;
}

.top-tab-navigation {
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: auto;
  background-color: #111827;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left-list {
  flex: 1;
  background-color: #1F2937;
  padding: 16px;
  border-right: 1px solid #e0e0e0;
}

.list-view {
  display: flex;
  flex-direction: column;
}

.list-item {
  padding: 8px 0;
}

.right-content {
  flex: 4;
  padding: 16px;
}

.app-bar {
  background-color: #111827;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}

.app-title {
  font-size: 24px;
  color: aliceblue;
  font-weight: bold;
}

.search-bar {
  display: flex;
  align-items: center;
  background-color: #111827;
  border-radius: 4px;
  padding: 4px;
}

.search-icon {
  border: none;
  background: none;
  cursor: pointer;
  font-size: 20px;
  margin-left: 8px;
}

.tabs {
  color: white;
  display: flex;
  margin-top: 16px;
}

.tab {
  padding: 8px 16px;
  cursor: pointer;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.tab.active {
  border-bottom-color: #007bff;
  font-weight: bold;
}

.tab-content {
  height: 500px;
  background-color: #030712;
  margin-top: 16px;
}
